#qq_btn_shopingbox{ display:block; padding:5px 70px; background:#6BAED6 no-repeat  38px -1px url(../images/login.png); color:#FFF; text-decoration:none; float:left; border-radius:5px; margin:0 0 5px  120px;}
.per_title{ width:100%;}
.shop_form .per{  background: none repeat scroll 0 0 #f7f7f7; border: 1px solid #ccc; color: #666; display: block; float: left;  font-size: 14px; font-weight: bold; padding: 5px 2%; width: 95.5%;}
.close_order{ line-height:18px !important;}
#login_download{ padding:11px; background:#f8ffe1; border:1px solid #cdd898}
.shop_form{ width:98% !important; padding:1% !important; background:#FFF; box-shadow:0 0 3px #F5F5F5; position:relative;}
.commnt-pagination{ width:96%; padding:2%; height:auto; overflow:hidden; }
.commnt-pagination a,.commnt-pagination span{ display:block; float:left; padding:2px 5px; border:solid #CCC 1px; margin:0 2px; color:#333 !important; text-decoration:none; cursor:pointer;}
.commnt-pagination a:hover{ color:#FFF; background:#666;}
.now_c{ background:#BBE3E6 !important;}
#cat_bbs_list ul li .left_bbs_single div b{ margin-bottom:5px;}
.des_page img{ max-width:100%; height:auto;}
.enter_cs{ width:98% !important;}
.content_shop img{  max-width:100%; height:auto; display:block;}
.payway{ width:95%; padding:10px 2.3%; background:#FFF;}
.payway b{ font-size:16px; color:#F30; display:block; width:100%;}
.payway label{ display: inline-block; width:154px; height:37px; margin-right:10px; padding:25px 0 0 10px; cursor:pointer;}
.payway .alipay{ background:right no-repeat url(../images/alipay.jpg)} 
.payway .cod{ background:right no-repeat url(../images/cod.jpg)} 
.pay_title{ display:block; width:96%; padding:0 2%; border-bottom:#CCC solid 1px; color:#333; margin-bottom:10px;}
.order_list li .order_top input{ margin-right:10px;}
#cart_submit{ padding:10px 20px; background:#F30; color:#FFF; font-size:14px; border:solid 1px #FFFFFF; float:right; margin-top:20px; cursor:pointer;}
.order_list{ background:#FFF; padding:2% !important;}
.enter .per{ border:#E7E7E7 1px solid;}
.more_info{ display:none;}
#more_info{ display:block; width:100%; cursor:pointer; font-size:12px; color:#999;}
.shoppingbox_cart_fix{ width:153px; padding-left:53px; height:32px; box-shadow:0 0 5px #666; border-radius:5px; position:fixed;bottom:0; right:-5px; background:#fff no-repeat  8px 4px url('../images/cat_nber.jpg'); display:block; z-index:10000;}
.shoppingbox_cart_fix p{ font-size:12px; color:#666; line-height:32px;}
.enter  .per{ margin-bottom:0;}
.enter .per_title { padding:5px 2%; width:95%; border: solid 1px #e7e7e7; background:#FFF;}
.enter .per_title a{ background:none; color:#333; font-weight:normal;}
.enter .per_title a.info{ color:#F60; font-weight:bold;}
#submit_buy{ padding:10px 15px; background:#ffe4d0; border:#f0cab6 1px solid; border-radius:5px; width:auto !important; float:right; color:#e5511d; cursor:pointer;margin-right:15px;}
#submit_buy:hover{ background:#ffd7d0;}
#submit_cart{ padding:10px 15px; background:#f40; border:#f40 1px solid; border-radius:5px; width:auto !important; float:right; color:#fff; cursor:pointer; margin-right:15px;}
#submit_cart:hover{ background:#df4400;}
.shop_form_ibn{ background:#FFF; padding:1% !important; width:98% !important; margin-top:20px; box-shadow: inset 0 0 3px #999999;}
#add_cart_b{ position:fixed; bottom:32px; right:50px;opacity:0;filter:Alpha(opacity=0); width:81px; height:43px; background:url('../images/catry.png'); z-index:9999;}
.checbox{ display:block; padding:5px 8px; border:solid 1px #CCCCCC; line-height:20px; width:auto !important; height:20px; overflow:hidden; cursor:pointer; line-height:18px !important; border-radius:5px; margin:0 10px 10px 0;}
#chact_box_div span{ display:block; overflow:hidden;  width:auto !important; border:none;}
.checbox input{ display:none;}
.onchatct{ background:#ffe4d0; color:#e5511d !important; border:solid 1px #e5511d;}
#info_box{ margin:0; padding:0;}
#post_buy_cart p,#post_buy_cart label,.personal div label { font-size:14px; color:#666; line-height:32px;}
#post_buy_cart div input,.personal div input{ border:solid 1px #CCCCCC; background:#F5F5F5; padding:7px;}
.order_list li .nooder{ display:block; padding:10px;}
.personal{ margin-top:20px; display:block; overflow:hidden; float:left;}
img.wp-smiley { width:24px !important; height:24px !important; max-height:24px !important; }

.ajax_comment_from{ width:96%; padding:2%; overflow:hidden;}
.ajax_commont{ width:100%; height:auto; float:left; position:relative;}
.ajax_commont .tutle,.tutle_li{ width:38px; height:auto; float:left;margin-right:20px;}
.ajax_commont .tutle a,.tutle_li a{ display:block; overflow:hidden; font-size:0; border-radius:5px; width:100%; height:auto;  border:solid 1px #CCCCCC;}
.ajax_commont .tutle a img,.tutle_li a img{ max-width:100%; height:auto;}
 #ajax_commont_tex{ width:auto; display:block; overflow:hidden; position:relative;border:solid 1px #CCCCCC; border-radius:5px; background:#F5F5F5;}
#ajax_commont_tex #comment_ajax{ width:96%; padding:2%; border:none; height:64px; box-shadow:inset 0 2px 3px #D9D9D9; font-size:12px; color:#666;}
 #ajax_commont_tex .bottom_ajax{  right:0; width:100%; background:#F3F3F3; border-top:#CCC 1px  dashed;}
 #ajax_commont_tex .bottom_ajax #submit_ajax, #ajax_commont_tex .bottom_ajax #submit_bbs{ float:right; border-top:#F3F3F3 solid 1px;border-left:#F3F3F3 solid 1px; height:31px; border-bottom:none; border-right:none; padding:0 30px; background:#585c60; color:#FFF; cursor:pointer; text-shadow:1px 1px 2px #333; font-size:14px; position:relative; margin-top:-1px; box-shadow:0 0 3px #999999;}
.ajax_commont #ajax_commont_tex .bottom_ajax #submit_ajax:hover,#ajax_commont_tex .bottom_ajax #submit_bbs:hover{ background:#666;}
.ajax_commont #ajax_commont_tex .bottom_ajax a,.ajax_commont .smiley_kuang .smiley_close_btn{font-size:0; width:16px; height:16px; float:left; cursor:pointer; margin:8px 10px 0 10px;}
.ajax_commont #ajax_commont_tex .bottom_ajax  a.smiley_btn{  background:1px -36px url(../images/login.png)}
.ajax_commont #ajax_commont_tex .bottom_ajax  a.smiley_btn:hover{background:1px -54px url(../images/login.png);} 
.ajax_commont #ajax_commont_tex .bottom_ajax  a.img_c_btn{ background:1px -72px url(../images/login.png)}
.ajax_commont #ajax_commont_tex .bottom_ajax  a.img_c_btn:hover{ background:1px -88px url(../images/login.png)}
.ajax_commont .smiley_kuang{ width:230px; max-width:100%; height:auto;  border:solid 1px #F3F3F3; background:#FFF; bottom:0; left:57px; box-shadow:0 0 5px #999; position:absolute; z-index:10000; border-radius:5px; display:none;}
.ajax_commont .smiley_kuang .smiley_kuang_in{padding:2%; width:96%; }
.ajax_commont .smiley_kuang span{ width:100%; height:25px; border-bottom:solid #F3F3F3 1px; display: block;}
.ajax_commont .smiley_kuang .smiley_close_btn{ float:right; margin-right:0; background:1px -106px url(../images/login.png);}
.ajax_title{ width:100%; height:auto; padding:5px 0; overflow:hidden;}
.ajax_title p{ font-size:12px; color:#666;  float:left; overflow:hidden; display:block;}
.ajax_title p a{ color:#06C; text-decoration:none; margin-right:10px; }

.ajax_title p a:hover{ color:#09C; text-decoration:underline;}
.denglu_span_x{ float:right; display:block;  overflow:hidden; }
.denglu_span_x b{ font-size:12px; color:#666; float:left; line-height:26px; padding-left:20px;background: no-repeat 0 -319px url(../images/login.png);}
.ajax_no_login .dlbtn{ display:inline-block !important; float:none !important;}
.denglu_span_x a,.ajax_no_login .dlbtn{ display:block; width:26px; height:26px;  float:left; font-size:0;cursor:pointer; margin:0 5px 0 0; position:relative;;}
.denglu_span_x a:hover,.ajax_no_login .dlbtn:hover{ box-shadow:0 0 3px #999999;}
.denglu_span_x a.qq,.ajax_no_login a.qq{ background:0 -161px url(../images/login.png)}
.denglu_span_x a.qqwb,.ajax_no_login a.qqwb{ background:0 -197px url(../images/login.png)}
.denglu_span_x a.weibo,.ajax_no_login a.weibo{ background:0 -235px url(../images/login.png)}

.commentlist{ display:block; width:100%; height:auto; overflow:hidden; float:left; padding:20px 0 0; border-top: dashed 1px #CCCCCC;margin:10px 0; }
.nunbers_ajax{ display:block; width:100%; margin:30px 0 0; color:#333; font-size:12px; float:left; padding-left:20px;background: no-repeat 0 -389px url(../images/login.png);}
.commentlist li{ display:block; width:100%; float:left;border-bottom: dashed 1px #CCCCCC; padding:15px 0; margin-bottom:5px;}
#ajax_commont_tex_li{overflow:hidden; }
#ajax_commont_tex_li .top_ajax_span {width:97%; padding:1%; border:none; height:auto; box-shadow:inset 0 0 3px #D9D9D9;  display:block; color:#666;border:solid 1px #CCCCCC; border-radius:5px; background:#F5F5F5; float:left; overflow:hidden; position:relative;}
#ajax_commont_tex_li .top_ajax_span  b{ font-size:14px; color:#666; float:left;}
#ajax_commont_tex_li .top_ajax_span  a{ float:right; font-size:12px; color:#999; margin-right:10px;}
#ajax_commont_tex_li  p{ font-size:12px; color:#666; margin:10px 0 0; float:left; width:100%; display:block; overflow:hidden;}
#ajax_commont_tex_li .top_ajax_span a.hfpl{ padding-left:20px;background: no-repeat 0 -357px url(../images/login.png); cursor:pointer; }
#ajax_commont_tex_li .top_ajax_span  a:hover{ color:#09C;}
#ajax_commont_tex_li  em{ color:#666; margin:10px 0 0; float:left; width:100%; display:block; overflow:hidden; float:right; width:100%; font-size:12px;}
.ajax_loading{ float:right; width:16px; height:11px; background:url('../images/loading.gif'); margin:10px 10px 0 0; display:none;}
.admin_red{ color:#F30 !important;}
.commentlist ul.children{ padding-left:56px; width: auto;overflow:hidden; position:relative; display:block}
.previous_ajax{ padding-bottom:20px; border-bottom:1px dashed #CCCCCC; float:left; width:100%;}
.previous_ajax a,.previous_ajax span{ display:block; float:left; margin:0 5px 5px 0; padding:3px 8px; border:solid 1px #CCCCCC; border-radius:5px; color:#666; }
.previous_ajax span{ background:#CCC; border:solid #999 1px; color:#fff;}
.shoopingbox{ display:block; width:100%; text-align:right; line-height:18px; float:left; margin:10px 0;}
.shoopingbox a{ color:#999; text-decoration:none; font-size:12px;}
.caser_reply{ float:left; width:100%; height:25px; color:#069; padding:5px 0; border-bottom:dotted 1px #CCCCCC; cursor:pointer; display:none; margin-bottom:5px; }
#commentform_out{ overflow:hidden; float:left; width:100%; padding:}
#commentlist .caser_reply{ display:block;}
#ajax_commont_tex label{ width:100%; height:auto;  float:left; padding:5px 0 5px 10px; font-size:12px; color:#999;}
#ajax_commont_tex label input{ width:60%; border-radius:5px; box-shadow:0 0 3px #CCCCCC; margin-left:10px;}
#ajax_commont_tex label select { height:30px; margin-left:10px;box-shadow:0 0 3px #CCCCCC;border-radius:5px; border:solid 1px #CCCCCC; padding:0 10px; }
#ajax_commont_tex label .themepark_radio{ width:auto !important; margin:10px 5px 0 15px; }
#ajax_commont_tex .bottom_mageis_box{ width:100%; height:10px; float:left;}
#ajax_commont_tex .themepark_comment_title{ float:left; display:block; width:98%; padding:10px 1%; border-bottom:#CCC dashed 1px;}
.ajax_no_login{ width:100%; height:1000px !important; padding-top:100px !important; text-align:center; font-size:12px; color:#999; position:absolute; z-index:10000000; top:0; left:0; background:url('../images/week_box.png');}

.shop_form_ibn .ajax_no_login{ font-size:14px; color:#333;}
.shop_form_ibn .ajax_no_login a{ color:#06C;}

.comment_meta{ width:95%; padding:2%; background:#f5f5f5; border: dotted 1px #DBDBDB; font-size:12px; color:#666; float:left; margin:5px 0;}

.shop_form .denglu_span_x{ float:left; margin:0 0 20px 121px;}
.shop_form_ibn .denglu_span_x{ float:none !important; margin:0 !important; display: inline-block !important; width:auto !important; border-bottom:none !important; }
.bangding_ok{ width:21px; height:21px; position:absolute; bottom:0; right:-6px;background: 0 -286px url(../images/login.png) }
.bbs_no{ padding-top:50px !important;}