BODY {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 BACKGROUND: #ffffff;
 font-size:12px;
 Word-spacing:1px;
 line-height:16px;
}
/*BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    COLOR: #000000;
    PADDING-TOP: 0px
}*/

/* MENU */

#nav {
 background: #e5e5e5;
 float: left;
 margin: 0; padding: 0;
 border: 1px solid white;
 border-bottom: none;
 font-size:10px;
}

#nav li a, #nav li {
 float: left;
}

#nav li {
 list-style: none;
 position: relative;
}

#nav li a {
 padding: 1em 2em;
 text-decoration: none;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;
}

#nav li a:hover {
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 300px;
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}






DIV#nsbanner
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999999 1px solid;
    POSITION: relative;
	BACKGROUND-COLOR: #3399FF
}
DIV#nstext
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 22px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 5px
}
DIV#bannerrow1
{
	text-align:left;
	font-size:10px
	
}
DIV#titlerow
{
/*    PADDING-RIGHT: 10px;
    PADDING-LEFT: 22px;
    PADDING-BOTTOM: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;*/
	text-align:left;
	font-size:10px
}

H1
{
    /*MARGIN-TOP: 1em;*/
    FONT-WEIGHT: bold
	/*MARGIN-BOTTOM: 0.4em;*/

}
H2
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1
{
    MARGIN-TOP: 0em;
    FONT-SIZE: 120%
}
H2
{
    FONT-SIZE: 130%
}
H3
{
    FONT-SIZE: 115%
}
H4
{
    FONT-SIZE: 100%
}
.dtH1
{
    MARGIN-LEFT: -18px
}
.dtH2
{
    MARGIN-LEFT: -18px
}
.dtH3
{
    MARGIN-LEFT: -18px
}
.dtH4
{
    MARGIN-LEFT: -18px
}
DIV#titlerow H1
{
    MARGIN-BOTTOM: 0.2em
}
P
{
    MARGIN: 0.5em 0em
}
BLOCKQUOTE.dtBlock
{
    MARGIN: 0.5em 1.5em
}
DIV#dtHoverText
{
    COLOR: #000066
}
.normal
{
    MARGIN: 0.5em 0em
}
.fineprint
{
    FONT-SIZE: 90%
}
.indent
{
    MARGIN: 0.5em 0.5em
}
P.title1 {
	font-weight: bolder;
 	color: #F00;	
}
P.title2 {
	font-weight:bolder
}
P.indent1 {
	text-indent:1em;
}
P.indent2 {
	text-indent:2em
}
P.indent3 {
	text-indent:3em
}
P.indent4 {
	text-indent:4em
}
P.label
{
    MARGIN-TOP: 1em
}
P.labelproc
{
    MARGIN-TOP: 1em;
    COLOR: #000066
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
OL
{
    MARGIN: 0.5em 0em 0em 2em
}

UL P
{
    MARGIN-LEFT: 0em
}
OL P
{
    MARGIN-LEFT: 0em
}
DL P
{
    MARGIN-LEFT: 0em
}
UL P.label
{
    MARGIN-TOP: 0.5em
}
OL P.label
{
    MARGIN-TOP: 0.5em
}
DL
{
    MARGIN-TOP: 0em;
    PADDING-LEFT: 1px
}
DD
{
    MARGIN-BOTTOM: 0em;
    MARGIN-LEFT: 1.5em
}
DT
{
    MARGIN-TOP: 0.5em
}
PRE
{
    MARGIN-TOP: 0.5em;
    MARGIN-BOTTOM: 0.5em
}
PRE
{
    FONT: 100% Monospace, Courier New, Courier;
    COLOR: #000066
}
CODE
{
    FONT: 100% Monospace, Courier New, Courier;
    COLOR: #000066
}
.code
{
    FONT: 100% Monospace, Courier New, Courier;
    COLOR: #000066
}
PRE B
{
    LETTER-SPACING: 0.1em
}
CODE B
{
    LETTER-SPACING: 0.1em
}
PRE.syntax
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 8px;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 8px;
    BACKGROUND: #cccccc;
    MARGIN-BOTTOM: 1em;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 1px solid;
    CURSOR: text;
    COLOR: #000000;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 1px solid
}
A:link
{
    COLOR: #0000ff
}
A:visited
{
    COLOR: #0000ff
}
A:hover
{
    COLOR: #3366ff
}
DIV.tablediv
{
    MARGIN-TOP: -0.4em;
    WIDTH: 100%
}
OL DIV.tablediv
{
    MARGIN-TOP: 0em
}
UL DIV.tablediv
{
    MARGIN-TOP: 0em
}
OL DIV.HxLinkTable
{
    MARGIN-TOP: 0em
}
UL DIV.HxLinkTable
{
    MARGIN-TOP: 0em
}
TABLE.dtTABLE
{
	
    BORDER-RIGHT: #999999 2px solid;
    BORDER-TOP: #999999 2px solid;
	BORDER-LEFT: #999999 2px solid;
    BORDER-BOTTOM: #999999 2px solid;	
    MARGIN-TOP: 0.6em;
    MARGIN-BOTTOM: 0.3em;
    WIDTH: 100%;
	border-collapse:collapse;
	text-align:center
}
TABLE.dtTABLE TH
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 1px solid;
    TEXT-ALIGN: left;
    BACKGROUND: #cccccc;
    VERTICAL-ALIGN: bottom
}
TABLE.dtTABLE TD
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 1px solid;
    TEXT-ALIGN: left;
    BACKGROUND: #ffffff;
    VERTICAL-ALIGN: top	
}

DIV.footer
{
    FONT-STYLE: italic
}
DIV.footer HR
{
    COLOR: #999999;
    HEIGHT: 1px
}
TABLE.bannerparthead
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px solid;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px solid;
    POSITION: relative;
    TOP: 0px;
    BORDER-COLLAPSE: collapse;
    HEIGHT: 21px;
    BACKGROUND-COLOR: #99ccff
}
TABLE.bannertitle
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px solid;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px solid;
    POSITION: relative;
    TOP: 0px;
    BORDER-COLLAPSE: collapse;
    HEIGHT: 21px;
    BACKGROUND-COLOR: #99ccff
}
TABLE.bannerparthead TD
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #999999 0px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #999999 0px solid;
    FONT-STYLE: italic
}
TABLE.bannerparthead TD.product
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: right
}
TABLE.bannertitle TD
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #999999 0px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999999 1px solid
}
TD.button
{
    WIDTH: 14px;
    CURSOR: hand
}
/*表格目录表格*/
	TABLE.dtTABLENAV
	{
		
		BORDER: #999999 1px solid;			
		MARGIN-TOP: 0.6em;
		MARGIN-BOTTOM: 0.3em;
		width:650px;
		border-collapse:collapse;
		text-align:center	
	}
	TABLE.dtTABLENAV TH
	{
		BORDER: #999999 1px solid;	
		BACKGROUND:#CCC
	}
	TABLE.dtTABLENAV TH.TH1
	{
		WIDTH:100px
	}
	TABLE.dtTABLENAV TH.TH2
	{
		WIDTH:250px
	}
	TABLE.dtTABLENAV TH.TH3
	{
		WIDTH:300px
	}
	TABLE.dtTABLENAV TR
	{
		BORDER: #999999 1px solid;
	}
	TABLE.dtTABLENAV TD
	{
		BORDER: #999999 1px solid
	}

/*事项描述表格*/
	TABLE.dtTABLESX
	{
		
		BORDER: #999999 1px solid;			
		MARGIN-TOP: 0.6em;
		MARGIN-BOTTOM: 0.3em;
		width:650px;
		border-collapse:collapse;
		text-align:center	
	}
	TABLE.dtTABLESX TH
	{
		BORDER: #999999 1px solid;	
		BACKGROUND:#CCC
	}
	TABLE.dtTABLESX TH.TH1
	{
		WIDTH:50px
	}
	TABLE.dtTABLESX TH.TH2
	{
		WIDTH:200px
	}
	TABLE.dtTABLESX TH.TH3
	{
		WIDTH:400px
	}
	TABLE.dtTABLESX TR
	{
		BORDER: #999999 1px solid;
	}
	TABLE.dtTABLESX TD
	{
		BORDER: #999999 1px solid
	}
	TABLE.dtTABLESX TD.SXTD3
	{
		text-align:left
	}	
/*操作说明表格*/
	TABLE.dtTABLECZSM
	{
		
		BORDER: #999999 1px solid;			
		MARGIN-TOP: 0.6em;
		MARGIN-BOTTOM: 0.3em;
		width:1000px;
		border-collapse:collapse;
		text-align:center	
	}
	TABLE.dtTABLECZSM TH
	{
		BORDER: #999999 1px solid;	
		BACKGROUND:#CCC
	}
	TABLE.dtTABLECZSM TH.TH1
	{
		WIDTH:30px
	}
	TABLE.dtTABLECZSM TH.TH2
	{
		WIDTH:600px
	}
	TABLE.dtTABLECZSM TH.TH3
	{
		WIDTH:200px
	}
	TABLE.dtTABLECZSM TH.TH4
	{
		WIDTH:170px
	}
	TABLE.dtTABLECZSM TR
	{
		BORDER: #999999 1px solid;	
	}
	TABLE.dtTABLECZSM TD
	{
		BORDER: #999999 1px solid
	}
	TABLE.dtTABLECZSM TD.CZSMTD2
	{
		text-align:left
	}	
	TABLE.dtTABLECZSM TD.CZSMTD3
	{
		text-align:left
	}
	
	TABLE.dtTABLECZSM TD.CZSMTD4
	{
		text-align:left
	}
/*操作说明表格30-400-250-320*/
	TABLE.dtTABLECZSM1
	{
		
		BORDER: #999999 1px solid;			
		MARGIN-TOP: 0.6em;
		MARGIN-BOTTOM: 0.3em;
		width:1000px;
		border-collapse:collapse;
		text-align:center	
	}
	TABLE.dtTABLECZSM1 TH
	{
		BORDER: #999999 1px solid;	
		BACKGROUND:#CCC
	}
	TABLE.dtTABLECZSM1 TH.TH1
	{
		WIDTH:30px
	}
	TABLE.dtTABLECZSM1 TH.TH2
	{
		WIDTH:400px
	}
	TABLE.dtTABLECZSM1 TH.TH3
	{
		WIDTH:250px
	}
	TABLE.dtTABLECZSM1 TH.TH4
	{
		WIDTH:320px
	}
	TABLE.dtTABLECZSM1 TR
	{
		BORDER: #999999 1px solid;	
	}
	TABLE.dtTABLECZSM1 TD
	{
		BORDER: #999999 1px solid
	}
	TABLE.dtTABLECZSM1 TD.CZSMTD2
	{
		text-align:left
	}	
	TABLE.dtTABLECZSM1 TD.CZSMTD3
	{
		text-align:left
	}
	
	TABLE.dtTABLECZSM1 TD.CZSMTD4
	{
		text-align:left
	}	
/*代码维护表格*/
	TABLE.dtTABLEDMWH
	{
		
		BORDER: #999999 1px solid;			
		MARGIN-TOP: 0.6em;
		MARGIN-BOTTOM: 0.3em;
		width:650px;
		border-collapse:collapse;
		text-align:center	
	}
	TABLE.dtTABLEDMWH TH
	{
		BORDER: #999999 1px solid;	
		BACKGROUND:#CCC
	}
	TABLE.dtTABLEDMWH TH.TH1
	{
		WIDTH:125px
	}
	TABLE.dtTABLEDMWH TH.TH2
	{
		WIDTH:125px
	}
	TABLE.dtTABLEDMWH TH.TH3
	{
		WIDTH:400px
	}
	TABLE.dtTABLEDMWH TR
	{
		BORDER: #999999 1px solid;	
	}
	TABLE.dtTABLEDMWH TD
	{
		BORDER: #999999 1px solid
	}
	TABLE.dtTABLEDMWH TD.TDDMMC
	{
		BACKGROUND:#CFF;
		font-weight:bold
	}
	TABLE.dtTABLEDMWH TD.TDDMBZ
	{
		BACKGROUND:#CFF;
		font-weight:bold
	}
	TABLE.dtTABLEDMWH TD.TDDMNR
	{
		text-align:left
	}
/*待办事项维护表格*/
	TABLE.dtTABLEDBSX
	{
	BORDER: #999999 1px solid;
	MARGIN-TOP: 0.6em;
	MARGIN-BOTTOM: 0.3em;
	width: 650px;
	border-collapse: collapse;
	text-align: center;

	}
	TABLE.dtTABLEDBSX TH
	{
		BORDER: #999999 1px solid;	
		BACKGROUND:#CCC
	}
	TABLE.dtTABLEDBSX TH.TH1
	{
		WIDTH:30px
	}
	TABLE.dtTABLEDBSX TH.TH2
	{
		WIDTH:80px
	}
	TABLE.dtTABLEDBSX TH.TH3
	{
		WIDTH:80px
	}
	TABLE.dtTABLEDBSX TH.TH4
	{
		WIDTH:80px
	}
	TABLE.dtTABLEDBSX TH.TH5
	{
		WIDTH:80px
	}
	TABLE.dtTABLEDBSX TH.TH6
	{
		WIDTH:300px
	}			
	TABLE.dtTABLEDBSX TR
	{
		BORDER: #999999 1px solid
	}
	TABLE.dtTABLEDBSX TD
	{
		BORDER: #999999 1px solid
	}
	TABLE.dtTABLEDBSX TD.TD6
	{
		BORDER: #999999 1px solid;
		text-align:left
	}
	TABLE.dtTABLEDBSX TD.TDDMMC
	{
		BACKGROUND:#CFF;
		font-weight:bold
	}
	TABLE.dtTABLEDBSX TD.TDDMBZ
	{
		BACKGROUND:#CFF;
		font-weight:bold
	}
	